

#main {
    display: none;
}

#newGame {
    align-items: center;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    border: 2px solid goldenrod;
    border-radius: 7px;
    background-color: gold;
    color: orangeRed;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Courier New";
    width: 8em;
    height: 1.5em;
    margin: 5px auto;
}


body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url("./start game wallpaper.jpeg");
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.9em;
    color: black;
}

 #canvas {
    border: 1px solid black;
    background-image: url("./fondomarresized.png");
}

.textocounter {
    margin-top: -600px;
    margin-bottom: -25px;
    margin-left: 10px;
    z-index: 10;
    font-size: 1.5em;
    color: black;
}

button {
    border:none;
    appearance:none;
    outline:none;
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#1bafdb;
    border: 2px solid #ffffff;
}

button {   transition-duration: 0.4s; }
button:hover {
    font-size:1.6em;
    background-color:#05c46b;
}
.screen {
    padding: 20px;     
    position: fixed;     
    top:50%;     
    left:50%;     
    margin-top: -100px;     
    margin-left: -100px;     
    height:200px;     
    width:250px;     
    text-align: center;
}

